.root {
  margin-top: 100px;
}

.basicInfoBar {
  display: flex;
  justify-content: space-between;

  .imgContainer {
    border-radius: 100000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
