@use "styles/responsive" as r;
$avatar-pc-size: 300px;

.root {
  @include r.pc {
    margin-top: 100px;
  }
  @include r.phone {
    margin-top: 2.5rem;
  }
}

.basicInfoBar {
  display: flex;
  @include r.phone {
    flex-direction: column-reverse;
    align-items: center;
  }
  @include r.pc {
    justify-content: space-between;
  }

  .introContainer {
    @include r.pc {
      height: 100%;
      h1 {
        font-size: 3rem;
      }
    }
  }

  .avatarRing {
    background: #22232e;
  }

  .imgContainer {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include r.pc {
      height: $avatar-pc-size;
      width: $avatar-pc-size;
    }
    @include r.phone {
      height: 70vw;
      width: 70vw;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
