@use "styles/responsive" as r;

.root {
  display: flex;
  flex-direction: column;
  @include r.pc {
    min-width: calc(50% - 0.5rem);
    flex: none;
  }
  h4 {
    text-align: center;
    margin-bottom: 0.7rem;
  }
  .box {
    border-radius: 6px;
    border: 1px solid #30363d;
    padding: 1rem 10%;
    flex: auto;

    .contentWrapper {
      display: flex;
      justify-content: space-between;
      .content {
        h3 {
          span {
            img {
              color: white;
              height: 10px;
              width: 10px;
            }
          }
        }
        p {
          padding-left: 1rem;
        }
      }
    }
  }
}
