@use "styles/responsive" as r;

.root {
  display: flex;
  flex-direction: column;
  h4 {
    margin-bottom: 0.7rem;
  }
  h3 {
    margin: 0;
  }
  @include r.pc {
    min-width: calc(50% - 0.5rem);
    flex: none;
  }
  .flex {
    display: flex;
  }
  .flexCenterAll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h4 {
    text-align: center;
    margin-bottom: 0.7rem;
  }
  .box {
    border-radius: 6px;
    border: 1px solid #30363d;
    padding: 1rem 10%;
    flex: auto;

    .contentWrapper {
      display: flex;
      justify-content: space-between;
      .content {
        h3 {
          img {
            color: white;
            height: 100%;
            width: 1rem;
          }
        }
        p {
          padding-left: 1rem;
        }
      }
    }
  }
}
