$white-text-1: #e1e1dc;
$white-text-2: #bbbbbb;
$white-text-3: #9ea2a7;

// dracula theme
$dracula-gray-dark: #282a36; // Background
$dracula-gray: #44475a; // Current Line & Selection
$dracula-gray-light: #f8f8f2; // Foreground
$dracula-blue: #6272a4; // Comment
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;
